@mixin blueShadowBig {
    box-shadow: 0 10px 20px rgb(57 144 229 / 19%), 0 6px 6px rgb(57 144 229 / 23%);
}

@mixin blueShadowSmall {
    box-shadow: 0 10px 20px rgb(57 144 229 / 10%), 0 6px 6px rgb(57 144 229 / 15%);
}

@mixin flexCenter2Axis {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumnCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexRowSpaceBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flexColumnSpaceBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin grayThinBorder {
    border: 0.1rem solid $thirdColor;
    border-radius: 0.8rem;
}

@mixin font($size: $smallFont, $family: $firstFont, $color: $secondColor, $weight: 400) {
    font-size: $size;
    font-family: $family;
    color: $color;
    font-weight: $weight;
}

