@import './abstracts/config';
@import './base/base';

@import './components/button';
@import './components/input';
@import './components/welcomePage';
@import './components/namesPage';
@import './components/addressPage';
@import './components/addressCard';
@import './components/servicePage';
@import './components/serviceCard';


body {
    background-color: #FFFFFF;
    min-height: 100vh;
    color: $secondColor;
    font-family: $firstFont;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 98%;
    margin: 0 auto;
}

@media only screen and (min-width: 500px) {
    .container {
        width: 94%;
        margin: 0 auto;
    }
}


@media only screen and (min-width: 760px) {
    .container {
        width: 75rem;
        margin: 0 auto;
    }
}