@import './abstracts/config';
@import './base/base';
@import './base/mixins';

@import './components/button';
@import './components/input';
@import './components/welcomePage';
@import './components/namesPage';
@import './components/addressPage';
@import './components/addressCard';
@import './components/servicePage';
@import './components/serviceCard';
@import './components/subscribePage';
@import './components/summaryPage';


body {
    @include flexCenter2Axis;
    background-color: #FFFFFF;
    min-height: 100vh;
    color: $secondColor;
    font-family: $firstFont;
    text-align: center;
}

.container {
    width: 96%;
    margin: 0 auto;
}

@media only screen and (min-width: 500px) {
    .container {
        width: 94%;
        margin: 0 auto;
    }
}


@media only screen and (min-width: 760px) {
    .container {
        width: 75rem;
        margin: 0 auto;
    }
}