.addressCard {
    @include blueShadowSmall;
    @include grayThinBorder;
    @include flexRowSpaceBetween;
    width: 100%;
    background-color: $fourthColor;
    gap: .8rem;
    padding: 1.4rem;
    min-height: 9rem;

    & .left--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.8rem;

        & h3 {
            @include font($smallerFont, $secondFont, $firstColor, 400);
            text-align: left;

            @media only screen and (min-width: 320px) {
                & {
                    font-size: $smallFont;
                }
            }
        }

        & p {
            @include font($smallerFont, $firstFont, $secondColor, 400);
            text-align: left;
        }
    }

    & Button {
        @include font($size: $smallerFont, $weight: 500, $color: #FFFFFF);
        margin: 0;
        padding: 2rem 2rem;

        @media only screen and (min-width: 320px) {
            & {
                font-size: $smallFont;
            }
        }
    }
    
    & .closeButton {
        cursor: pointer;
    }
}