
.btn {
    @include blueShadowSmall;
    @include font ($smallFont, $thirdFont, #FFFFFF, 400);
    background-color: $firstColor;
    text-transform: uppercase;
    padding: 2.2rem 10rem;
    border-radius: .5rem;
    border: 0;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $altColor;
    }
}