.Input {
    background-color: #FFFFFF;
    width: 100%;
    position: relative;
    border: 0.15rem solid $secondColor;
    border-radius: 0.8rem;
    margin: 0;
    transition: all 0.3s ease-in-out;
    font-weight: 700;

    & input {
        color: $firstColor;
        font-size: $smallFont;
        padding: 2rem 2rem;
        border: none;
        background-color: transparent;
        width: 100%;
        line-height: 2.4rem;
        font-weight: 700;
        
        &::placeholder {
            text-transform: uppercase;
            font-weight: 700;
        }

    }

    &:hover,
    &:focus-within {
        border-color: $firstColor;
    }

    & input:focus,
    &:hover input {
        color: $firstColor;
    }


    & label {
        display: none;
        color: $thirdColor;
        font-size: $smallestFont;
        padding: 1.6rem 2.4rem;
        line-height: 2.4rem;
        text-transform: uppercase;
        position: absolute;
        background-color: transparent;
        top: 0;
        left: 0;
        bottom: 0;
        cursor: text;

        @media only screen and (min-width: 360px) {
            & {
                font-size: $smallerFont;
            }
        }
    }

    &:hover label {
        color: $firstColor;
    }

    &:focus-within label,
    & input:not(:placeholder-shown)~label {
        display: unset;
        padding: 0px 4px;
        background-color: #FFFFFF;
        top: -12px;
        left: 10px;
        bottom: auto;
        color: $secondColor;
    }

    &:focus-within input {
        &::placeholder {
            color: transparent;
        }
    }
}