.namesPage {
    @include flexColumnSpaceBetween;
    gap: 12rem;
    width: 100%;

    & .upper--container {
        @include flexColumnSpaceBetween;
        gap: 4rem;

        & h2 {
            font-size: $mediumFont;
            font-family: $secondFont;
            color: $secondColor;
            font-weight: 700;
        }
    
        & form {
            @include flexColumnSpaceBetween;
            gap: 1.4rem;
            width: 100%;
        }
    }


    & p {
        color: $thirdColor;
        font-size: $smallerFont;
        text-transform: uppercase;
        margin-top: 2rem;
    }
}