.servicePage {
    @include flexCenter2Axis;
    flex-direction: column;
    gap: 12rem;

    & h2 {
        font-family: $secondFont;
        font-size: $mediumFont;
        color: $secondColor;
    }

    & .service--container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        width: 100%;

        @media only screen and (min-width: 400px) {
            & {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    & .bottom--container p {
        color: $thirdColor;
        font-size: $smallerFont;
        text-transform: uppercase;
        margin-top: 2rem;
    }

}