.serviceCard {
    @include flexColumnCentered;
    @include grayThinBorder;
    gap: 1rem;
    margin: 0 auto;
    width: 18rem;
    padding: 2rem 0;

    @media only screen and (min-width: 440px) {
        & {
            gap: 2rem;
            width: 20rem;
            padding: 3rem 0;
        }
    }

    & .title--container {
        & h3 {
            @include font ($mediumFont, $secondFont, $secondColor, 700);
        }

        & p {
            @include font ($smallerFont, $firstFont, $secondColor);
        }
    }

    & .x {
        @include font ($smallFont, $firstFont, #beb502, 700);
    }

    & .number {
        @include flexCenter2Axis;
        @include font ($bigFont, $firstFont, $firstColor, 700);
        margin-left: 0rem;

        &::before {
            content: '$';
            font-size: $mediumFont;
            align-self: center;
        }

        &::after {
            content: '/mo';
            font-size: $smallFont;
            align-self: flex-end;
        }
    }

    & .check {
        border: 0.1rem solid $thirdColor;
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
    }
}