.servicePage {
    @include flexCenter2Axis;
    flex-direction: column;
    gap: 6rem;

    @media only screen and (min-width: 420px) {
        & {
            gap: 12rem;
            width: 20rem;
            padding: 3rem 0;
        }
    }

    & h2 {
        @include font ($mediumFont, $secondFont, $secondColor, 700);
    }

    & form {
        @include flexCenter2Axis;
        gap: 1rem;
        flex-wrap: wrap;
    }

    & .bottom--container p {
        @include font($size: $smallerFont, $color: $thirdColor);
        text-transform: uppercase;
        margin-top: 2rem;
    }

}