.welcomePage {
    @include flexColumnSpaceBetween;
    gap: 10rem;
    width: 100%;

    & .upper--container {
        @include flexColumnSpaceBetween;
        gap: 6rem;

        & h1 {
            @include font($bigFont, $secondFont, $firstColor, 700);
        }

        & h2 {
            @include font($size: $mediumFont, $color: $secondColor);
        }
    }
}