.welcomePage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    width: 100%;

    & .upper--container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 6rem;

        & h1 {
            font-size: $bigFont;
            color: $firstColor;
            font-family: $secondFont;
            font-weight: 700;
        }

        & h2 {
            font-size: $mediumFont;
            color: $secondColor;
            font-weight: 400;
        }
    }
}