$firstFont: 'Open Sans', sans-serif;
$secondFont: 'Noto Serif HK', serif;
$thirdFont: 'Quicksand', sans-serif;

$firstColor: #0066cc;
$secondColor: #001e36;
$thirdColor: #adadad;
$fourthColor: #f7f7f7;
$fifthColor: #ececec;
$altColor: #02498f;

$bigFont: 4.6rem;
$mediumFont: 2.4rem;
$smallFont: 1.6rem;
$smallerFont: 1.2rem;